.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../public/background.png");
  background-size: cover;
  min-height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;
  cursor: inherit;
}

.container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  padding: 75px 16px 16px;
  box-sizing: border-box;
  position: relative;
  margin-top: 2vh;
}

.photoID {
  height: 140px;
  width: 140px;
  position: relative;
  background-image: url("../public/photoManu.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.title {
  cursor: inherit;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 8px;
}

.description {
  margin-bottom: 16px;
}
.descriptionText {
  margin: 0px;

  cursor: inherit;
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.actionsButtons {
  display: flex;
  box-sizing: border-box;
  cursor: inherit;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.actionOneButton {
  display: flex;
  box-sizing: border-box;
  cursor: inherit;
  margin-left: 4px;
  margin-right: 4px;
  color: #e74425;
  width: 24px;
  height: 24px;
  transition: color 0.2s ease-in-out;
}
.actionOneButton:hover {
  color: #e9563a;
}

.addButtonBlock {
  display: flex;
  box-sizing: border-box;
  cursor: inherit;
  justify-content: center;
  margin-bottom: 25px;
}

.addButton {
  box-sizing: border-box;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  display: flex;
  min-width: 170px;
  align-items: center;
  color: white;
  border-radius: 50px;
  border: 1px solid;
  background: #e74425;
  transition: background 0.2s ease-in-out;
}
.addButton:hover {
  background: #e9563a;
}
.addButtonIcon {
  margin-right: 6px;
  color: white;
  width: 16px;
  height: 16px;
}

.addButtonText {
  margin: 0px;
  cursor: inherit;
  line-height: 19px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.tabBlock {
  width: 100%;
}

.tab {
  max-width: 100%;
  width: auto;
  min-height: 86px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  border: 2px solid transparent;
  border-radius: 12px;
  color: rgb(17, 17, 17);
  box-shadow: rgb(0 0 0 / 10%) 0px 3px 30px 0px;
  background: rgb(255, 255, 255);
  padding: 8px;
  margin-bottom: 25px;
}

.objectPreview {
  display: flex;
  box-sizing: border-box;
  cursor: inherit;
  margin-right: 18px;
  height: 70px;
  width: 70px;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 4px;
}

.tabText {
  margin: 0px;

  cursor: inherit;
  text-align: left;
  line-height: 10.5pt;
  font-size: 10.5pt;
  color: inherit;
}
