@font-face {
  font-family: "Modern Love";
  src: url("../public/ModernLoveFont.ttf") format("truetype");
}

@font-face {
  font-family: "Bryndan Write";
  src: url("../public/Bryndan_Write.ttf") format("truetype");
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
