.main {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcece9;
  box-sizing: border-box;
  cursor: inherit;
}

/*First Section with background image and button*/
.firstSection {
  height: 100vh;
  width: 100%;
  max-width: 100%;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(255, 255, 255, 0)
    ),
    url("../public/home1Pic.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.container1 {
  padding: 8vw;
  width: 100%;
  max-width: 100%;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 3em;
  line-height: 1em;
  color: white;
}

.titleText {
  font-size: 1.5em;
  line-height: 1em;
  color: white;
  font-weight: bold;
}

.heroButtons {
  display: flex;
  flex-direction: row;
  gap: 1.3em;
  margin-top: 2em;
}

.heroButton {
  width: 12rem;
  background-color: #fff;
  border: 0.13rem solid WHITE;
  border-radius: 0.3rem;
  color: #000;
  transition: all 0.4s ease-out;
  cursor: pointer;
}

.heroButton:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.heroButton a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  cursor: inherit;
  padding: 0.625rem;
  text-align: center;
  letter-spacing: 0.1em;
}

.heroButton p {
  margin: 0;
  padding: 0;
  font-size: 1em !important;
}

@media screen and (max-width: 768px) {
  .heroButton {
    width: 12rem;
  }

  .heroButton a {
    font-size: 0.9em;
    letter-spacing: 0.1em;
  }

  .heroButton:hover {
    color: black;
    background-color: #fff;
  }

  .title {
    font-size: 2.5em;
  }

  .titleText {
    font-size: 1.2em;
  }

  .heroButtons {
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }
}

/*Second Section with background image and button*/
.secondSection {
  height: 90vh;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container2 {
  padding-left: 8vw;
  padding-right: 8vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.projectImage0 {
  height: 40vw;
  width: 40vw;
}

.projectImage1 {
  border-radius: 1rem;
  background-image: url("../public/squareBackground.png");
  background-size: contain;
  background-position: center;
  position: relative;
}

.projectImage2 {
  background-image: url("../public/squareOursonTransparent.png");
  position: absolute;
  top: 0;
  left: 0;
}
.projectDescription1 {
  width: calc(50% -8rem);
  padding-left: 8rem;
  overflow: visible;
}

.projectDescription1 h2 {
  font-family: "Bryndan Write";
  font-size: 5em;
  margin: 0;
  padding: 0;
}

.projectDescription1 p {
  font-size: 1.3em;
  line-height: 1.6em;
  text-align: justify;
}

.heroButton2 a {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.heroButton2:hover {
  background-color: transparent;
  color: black;
}

@media screen and (max-width: 768px) {
  .container2 {
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
  }
  .projectImage0 {
    height: 70vw;
    width: 70vw;
  }
  .projectDescription1 {
    width: calc(100%);
    padding-left: 0;
  }

  .projectDescription1 h2 {
    font-size: 4em;
    text-align: center;
  }

  .projectDescription1 p {
    font-size: 1.2em;
    line-height: 1.2em;
  }
  .heroButton2:hover {
    background-color: white;
    color: black;
  }
}
